#about-us section{
	margin-bottom: 3em;
}

#about-us .profile.column {
	position: relative;
}

#about-us .profile.column .reveal,
#about-us .profile.column .reveal img {
	background-color: transparent;
	width: 100%
}

#about-us .profile.column .reveal ~ div {
	/*margin-top: -0.8em;*/
}

#about-us .profile.column .reveal img.layer{
	background-color: rgba(0,0,0,0.2);
}

#about-us .profile.column img {
	margin: 0 auto;
	text-align: center;
}

#about-us .profile.column .user.icon {
	font-size: 1.375em;
}

#about-us .profile.column .icon {
	opacity: 1;
}

#about-us .profile.column .icons {
	position: absolute !important;
	top: 48%;
	left: 2%;
	width: 100%;
	text-align: center;
}

#board-team {
	margin-top: 4rem;
}

#about-us .social-media-icons, .info-labels{
		text-align: center;
		margin-top: 0.5em;
}
#about-us .social-media-icons, .info-labels .name{
	font-weight: 600;
}


#about-us .social-media-icons .klout.icon{
	width: 2em;
	vertical-align: middle;
	display: inline;
}
.bio-btn-container{
	width: 45%;
	text-align: center;
}
#about-us .bio.button{
margin-top: 1em;
}
#about-us .twitter.icon{
	color:#00bfff;
	font-size: 1.5em;
}

#about-us .linkedin.icon{
	color:#035880;
	font-size: 1.5em;
}
.social-media-icons .icon{
	cursor:pointer;
}

label.klout-score{
	cursor: pointer;
	border: solid 1px orange;
	padding-right: 6px;
	display: inline;
	padding-top: 2px;
	padding-bottom: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3PX;
	padding-left: 4px;
	font-weight: 500;
	font-size: 0.95em;
	margin-left: -1px;
}

.award.column img{
	width:auto;
	max-width: 100px;
	margin: 0 auto;
	text-align: center;
}

#partners h3{
	font-weight: 300;
}

#partners img {
	width: 70%;
	min-width: 90px;
	max-width: 160px;
}


.timeline.column img {
	width: 60%;
	max-width: 300px;
}
.timeline.column .timeline-img{
	text-align: center;
}

#bio.modal h1{
	font-size: 1.4em;
}

#bio.modal h2{
	font-size: 0.7em;
}

#bio.modal p{
	font-size: 0.6em;
}

/* Mobile */
@media only screen and (max-width: 767px){
	#about-us #board-team {
		margin-top: 0px;
	}
	#about-us .profile.column {
		width: 30%;
	}

	#about-us .profile.column .computer{
		display: none;
	}

	#about-us .profile.column .mobile{
		display: block;
		padding-bottom: 5px;
	}

	#about-us .profile.column .mobile .icon {
		font-size: 2rem;
	}

}

/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 992px){

	#about-us .profile.column .computer{
		display: none;
	}

	#about-us .profile.column .mobile{
		display: block;
		padding-bottom: 5px;
	}

	#about-us .profile.column .mobile .icon {
		font-size: 2rem;
	}
}


/* Computer */
@media only screen and (min-width: 992px){

	#about-us .profile.column .computer{
		display: block;
	}

	#about-us .profile.column .mobile{
		display: none;
	}
}
