#about-us section{
	margin-top: 90px;
}

#about-us .management.column {
	position: relative;
	height: 280px;
}

#about-us .profile.column img, #about-us .management.column img{
	margin: 0 auto;
	text-align: center;
}

#about-us .social-media-icons{
	position: absolute;
	top: 11.5em;
	width: 85%;
}

#about-us .social-media-icons, .info-labels{
		text-align: center;
		margin-top: 0.5em;
}
#about-us .social-media-icons, .info-labels .name{
	font-weight: 600;
}


#about-us .social-media-icons .kloud.icon{
	width: 2em;
	vertical-align: middle;
	display: inline;
}
.bio-btn-container{
	width: 45%;
	text-align: center;
}
#about-us .bio.button{
margin-top: 1em;
}
.twitter.icon{
	color:#00bfff;
}
.linkedin.icon{
	color:#035880;
}
.social-media-icons .icon{
	cursor:pointer;
}

label.kloud-score{
cursor: pointer;
border: solid 1px orange;
padding-right: 6px;
display: inline;
padding-top: 2px;
padding-bottom: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3PX;
padding-left: 4px;
font-weight: 500;
font-size: 0.95em;
margin-left: -1px;
}

.award.column img{
	width:auto;
	max-width: 100px;
	margin: 0 auto;
	text-align: center;
}

#partners h3{
	font-weight: 300;
}

#partners img {
	width: 70%;
	min-width: 90px;
	max-width: 160px;
}


.timeline.column img {
	margin-top: 4em;
	width: 60%;
	max-width: 300px;
}
.timeline.column .timeline-img{
	text-align: center;
}

/* Mobile */
@media only screen and (max-width: 767px){
	#about-us #board-team{
		margin-top: 0px;
	}
	#about-us .management.column, #about-us .profile.column{
		width: 30%;
	}

}
