#about-us .light-grey.segment{
	background: rgb(245, 245, 245);
}

#about-us .circular.button {
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}


#about-us .bio.image{
	max-width: 115px;
	z-index: 9;
	cursor: pointer;
	}

	#about-us .bio.image:hover{
		opacity: 0.6;
	}

#about-us .bio.segment{
	padding: 0;
}
