
#app-builder-pricing {
	position: relative;
}

#app-builder-pricing .banner-img{
	position: absolute;
	z-index: 10;
	left: -5%;
	top: 28%;
	width: 110% !important;
}
#app-builder-pricing .banner-img-mobile{
	position: absolute;
	z-index: 10;
	left: -25%;
	top: 10%;
	width: 150% !important;
}

#app-builder-pricing .promotion-price{
	font-size: 2em;
	text-decoration: line-through;
}
#app-builder-pricing .promotion-header{
	font-size: 3em;
	margin: 0;
}

#qualified.feature-details{
	background: url('/images/app-builder/qualified.jpg') center no-repeat;
	background-position-y: 0;
}

#incorporated.feature-details {
	background-color: #EEFAFB;
}

.shaded.segment {
	background-color: rgba(0, 0, 0, 0.298039) !important;
	padding-bottom: 4em;
	padding-top: 4em;
	margin-left: 1em;
	margin-right: 1em;
}

.ab-pricing .pack {
	box-shadow: none;
	border: 1px solid #59d2d9 !important;
}
.ab-pricing .best-seller {
	background-color: white;
	color: transparent;
	margin-bottom: 0;
	text-align: center;
	box-shadow: none;
	border-top: 1 !important;
	border: 1px solid #59d2d9;
}

.ab-pricing .best-seller{
	visibility: hidden;
}

.ab-pricing .ui.divided.list .item{
	border-top-color:#59d2d9 !important;
}
.ab-pricing .divider{
	border-top: solid 1px #59d2d9 !important;
}
.stand-out-bg{
	padding: 1em;
	height: 14em;
	background-color: rgba(89,210,217,0.2);

}

.ab-pricing .regular.column{
	margin-top: 3em;
}

.ab-pricing .segment.pack{
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 1em;
}
.ab-pricing .best-seller.show {
	visibility: visible;
	border: solid 3px #59d2d9;
	border-bottom: none
	color: white;
}

.ab-pricing .pack {
	box-shadow: none;
	border: 1px solid #59d2d9;
}

.ab-pricing .teal.header{
	color:#59d2d9 !important;
}
.ab-pricing .pack-col:hover > *{
	border-color: transparent;
	background-color: #E4F7F7;
	cursor: pointer;
}

.ab-pricing .pro-pack{
	border: solid 4px #59d2d9 !important;
	padding-bottom: 4em;
	padding-top: 0;
}
.ab-pricing .pro-pack .stand-out-bg{
	padding-top: 3em !important;
	height: 15.75em !important;
}
.ab-pricing .pro-pack .header{
	padding-top: 0.5em;
}
.ab-pricing .pack-price-title{
	font-size: 3rem;
	margin: 0;
}

.ab-pricing .price-note {
	font-size: 1em;
	margin-top: 0;
	height: 40px;
	line-height: 20px;
	font-weight: 100;
	color: #9b9b9b;
	font-style: italic;
}

.dark-teal {
	color: rgba(0, 110, 140, 1) !important;
}
