#challenger-pack #page-title h1 {
	font-size: 2.5em;
	padding-top: 80px;
	margin: 0;
	font-size: 45px;
 color: #333333;
 font-weight: 300;
 text-align: center;
}

#challenger-pack #page-subtitle h2 {
	font-size: 1.8em;
 line-height: 50px;
 color: #333333;
 font-weight: 400;
}

#challenger-pack #page-subtitle h3 {
	font-size: 1.4em;
 line-height: 30px;
 color: #333333;
 font-weight: 200;
}

#challenger-pack #page-title {
	background: url('/images/starter-pack-title.png') center no-repeat;
	height: 200px;
	background-color: #f0f0ee;
}

#challenger-pack #page-details p {
	font-size: 1.2em;
 line-height: 30px;
 color: #333333;
 font-weight: 100;
}

#challenger-pack #page-details ul li{
	font-size: 1.2em;
	line-height: 30px;
	color: #333333;
	font-weight: 100;
	list-style-image: url('/images/green-list-dot.png');
	margin: 7px 0px 7px -20px;
}

#challenger-pack .snapshots-icon {
	margin-right: 10px;
}

section#challenger{
	background-color: #ebebeb;
		padding: 2em;
}

#challenger h2{
	font-weight: 400;
}

#challenger h3{
	font-weight: 300;
}

#challenger p{
	font-weight: 100;
	font-size: 0.8em;
}

#challenger h4{
	font-weight: 400;
	font-size: 1.5em;
}

#challenger .segment{
	width: 80%;
	margin: 0 auto;
	padding: 2em;
}

#challenger .segment .ui.button{
	width: 80% !important;
	max-width: 14em;
}
