/*#office-list .office-box  p{
	font-size: 18px;
	font-weight: 300;
}*/

#contact .page-details h2 {
margin-bottom: 0px;
}

#contact .label-list label{
	padding: 0.8em 0 1em 0;
}

#contact .ui.message.warning .header,
#contact .ui.message.error .header{
	font-size: 0.8em;
}

#contact ::-webkit-input-placeholder { /* WebKit browsers */
	color: #DDD;
}
#contact :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #DDD;
	opacity: 1;
}
#contact ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #DDD;
	opacity: 1;
}
#contact :-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #DDD;
}

#contact .hide {
	display: none !important;
}

#contact .confirm,
#contact .confirm * {
	/*color: white !important;*/
	background-color: white;
	border: 0 none #fff !important;
	box-shadow: none !important;
}

#contact .confirm * {
	height: 0 !important;
}

#contact .confirm{
	position: relative;
}

#contact .confirm .helper{
	position: absolute;
	top: 0px;
	height: 101% !important;
	width: 100%;
}

#contact .terms {
	font-size: 0.65em
}

#contact .coll-info {
	width: 1em;
	height: 1em;
	font-size: 1em;
}

#contact .coll-info ~ label{
	margin-top: 3px;
}

#contact .ans {
	width: 3em;
}
