section.distribution{
	background-color: #ebebeb;
	padding: 2em;
}

.distribution h2{
	font-weight: 400;
}

.distribution h3{
	font-weight: 300;
}

.distribution h4{
	font-weight: 400;
	font-size: 1.5em;
}

.distribution .segment{
	width: 80%;
	margin: 0 auto;
	padding: 2em;
}

.distribution .segment .ui.button{
	width: 80% !important;
	max-width: 14em;
}

#dominator-pack #pricing-pack {
	margin-top: 34px;
}

#dominator-pack #pricing-pack .starter-pack-desc,
#dominator-pack #pricing-pack .challenger-pack-desc{
	display: block;
	margin:0;
}

#dominator-pack #pricing-pack .no-desc{
  display: none;
}
