body {
	font-family: "Helvetica", sans-serif;
	padding: 0 !important;
	margin: 0!important;
	width: 100% !important
	color:#333 !important;
}
/*p{
	font-weight: 100;
}*/

h2.ui.header, h3.ui.header, h4.ui.header{
	font-weight: 300;
}
#intro{
	background: url(/images/hero-image-2.png) center no-repeat;
height: 600px;
}

a{
	color: #59d2d9;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
}

/* Exicon customized BUTTONS*/
.button{
	text-transform: none !important;
	font-weight: 400;
	letter-spacing: 0.03em;
	color:white;
}
.darkExicon.ui.button{
	background-color: #379aa6;
	color: white;
}
.darkGray{
	color:#aaa;
}
.lightExicon.ui.button{
	background-color: #59d2d9;
	color: white;
}
.gray.ui.button{
	background-color: #cccccc;
	color: white;
}
.ui.inverted.white.button{
background-color: transparent; !important;
color: white;
	-webkit-box-shadow:inset 0px 0px 0px 1px white;
	-moz-box-shadow:inset 0px 0px 0px 1px white;
	box-shadow:inset 0px 0px 0px 1px white;
}
.ui.inverted.lightExicon.button{
	background-color: transparent !important;
	background-image: none;
	color: #59d2d9;
	-webkit-box-shadow:inset 0px 0px 0px 1px #59d2d9;
	-moz-box-shadow:inset 0px 0px 0px 1px #59d2d9;
	box-shadow:inset 0px 0px 0px 1px #59d2d9;
}
.ui.inverted.darkExicon.button{
	background-image: none;
	background-color: transparent !important;
	color: #379aa6 ;
	-webkit-box-shadow:inset 0px 0px 0px 1px #379aa6;
	-moz-box-shadow:inset 0px 0px 0px 1px #379aa6;
	box-shadow:inset 0px 0px 0px 1px #379aa6;
}
.ui.inverted.gray.button{
	background-image: none;
	background-color: transparent !important;
	color: #cccccc ;
	-webkit-box-shadow:inset 0px 0px 0px 1px #cccccc;
	-moz-box-shadow:inset 0px 0px 0px 1px #cccccc;
	box-shadow:inset 0px 0px 0px 1px #cccccc;
}

.ui.circular.button {
border-radius: 50%;
padding: 0.5em;
height: 2em;
width: 2em;
text-align: center;
line-height: 1em;
}

/* Hover state of the Buttons*/
.ui.button.darkExicon:hover{
	background-image: none;
	background-color: transparent !important;
	color: #379aa6 ;
	-webkit-box-shadow:inset 0px 0px 0px 1px #379aa6;
	-moz-box-shadow:inset 0px 0px 0px 1px #379aa6;
	box-shadow:inset 0px 0px 0px 1px #379aa6;
}
.ui.button.lightExicon:hover{
	background-image: none;
	background-color: transparent !important;
	color: #59d2d9 ;
	-webkit-box-shadow:inset 0px 0px 0px 1px #59d2d9;
	-moz-box-shadow:inset 0px 0px 0px 1px #59d2d9;
	box-shadow:inset 0px 0px 0px 1px #59d2d9;
}
.ui.button.gray:hover{
	background-image: none;
	background-color: transparent !important;
	color: #cccccc ;
	-webkit-box-shadow:inset 0px 0px 0px 1px #cccccc;
	-moz-box-shadow:inset 0px 0px 0px 1px #cccccc;
	box-shadow:inset 0px 0px 0px 1px #cccccc;
}
.ui.inverted.white.button:hover{
	-webkit-box-shadow:inset 0px 0px 0px 1px #59d2d9;
	-moz-box-shadow:inset 0px 0px 0px 1px #59d2d9;
	box-shadow:inset 0px 0px 0px 1px #59d2d9;
	background-color: #59d2d9 !important;
	color: white;
}
.ui.inverted.lightExicon.button:hover{
	background-color: #59d2d9 !important;
	color: white;
}
.ui.inverted.darkExicon.button:hover{
	background-color: #379aa6 !important;
	color: white;
}
.ui.inverted.gray.button:hover{
	background-color: #cccccc !important;
	color: white;
}
.ui.inverted.active.button{
	background-color: #59d2d9 !important;
	color: white !important;
}


/* Intro Section*/

#intro .column.intro-right-info{
	margin-top:90px;
	padding-left: 3em;

}

#intro .video-btn{
	margin-left: -175px;
 padding-top: 218px;
}

#intro h1{
	font-size: 48px;
	font-weight: 400;

}
#intro h2{
	font-size: 27px;
	font-weight: 300;
}

/* Customer Quotes Section */

#customer-quote-list h2{
	font-weight: 400;
font-size: 1.4em;
height: 50px;
}

#imaginary-quote h2{
	font-weight: 300;
	font-size: 1.5em;
	font-style: italic;
}

#imaginary-quote h3{
	font-weight: 500;
	font-size: 1.5em;
	padding-right: 1.5em;
}

/* Features Section */
#features img.appboard-img{
	width: 100%;
}

.features-group img{
	vertical-align: bottom;
	margin-right: 0.5em;

}
.features-group .column{
	margin-bottom: 1em;
	width: 90%;
}

/* Media Queries for Responsiveness */

/* Tablet*/
@media only screen and (max-width: 991px) and (min-width: 768px){
	#intro {
			height: 560px;
			/*background-size: 1100px;
			background-position: -109px 180px;*/
		}

	#intro h1{
		font-size: 38px;
	}
	#intro h2{
		font-size: 24px;
	}

}

/* Mobile */
@media only screen and (max-width: 767px){
	#intro {
		height: 660px;
		background-size: 1500px;
		background-position: 12% 93%;
}
	#intro .column{
		width: 100%;
	}
	#intro .column.intro-right-info {
		margin-top: 0;
		padding-left: 0;
		text-align: center;
	}
	#intro h1{
		font-size: 28px;
	}
	#intro h2{
		font-size: 20px;
	}
	#intro .video-btn {
		margin-left: 0;
		padding-top: 101px;
		width: 140px;
	}
}


/* Smaller mobiles*/
@media only screen and (max-width: 550px){
	#intro{
		height: 568px;
		background-size: 1130px;
		background-position: 20% 87%;
		min-width: 320px;
	}
}

