html {
	font-family: "Helvetica", sans-serif;
	padding: 0 !important;
	margin: 0!important;
	width: 100% !important;
	color:#333 !important;
}
a{
	color: #59d2d9;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
}

p{
	font-weight: 100;
	font-size: 1em;
	line-height: 1.4em;
}

h2.ui.header, h3.ui.header, h4.ui.header{
	font-weight: 300;
}

#homepage section {
	padding-top: 50px;
}

#content {
	padding-top: 4.2em;
}
.default.text{
	color: #333 !important;
}
div p.small-text {
	font-size: 0.9em;
	line-height: 150%;
}
.ui.clearing{
	clear:both;
	height: 1em;
}
/* Exicon customized BUTTONS*/
.ui.button{
	text-transform: none !important;
	font-weight: 400;
	letter-spacing: 0.03em;
	background-color: #59d2d9 !important;
	color: white !important;
	background-image: none !important;
}
.dark-green.ui.button{
	background-color: #379aa6;
	color: white;
}
.dark-gray{
	color:#aaa;
}
.ui.white.button{
	background-color: white !important;
	color: #59d2d9 !important;
}

.gray.ui.button{
	background-color: #cccccc;
	color: white;
}
.ui.inverted.white.button{
	background-color: transparent !important;
	color: white;
	box-shadow:inset 0px 0px 0px 1px white;
}
.ui.inverted.button{
	background-color: transparent !important;
	background-image: none;
	color: #59d2d9;
	box-shadow:inset 0px 0px 0px 1px #59d2d9;
}
.ui.inverted.dark-green.button{
	background-image: none;
	background-color: transparent !important;
	color: #379aa6 ;
	box-shadow:inset 0px 0px 0px 1px #379aa6;
}
.ui.inverted.gray.button{
	background-image: none;
	background-color: transparent !important;
	color: #cccccc ;
	box-shadow:inset 0px 0px 0px 1px #cccccc;
}

.ui.circular.button {
	border-radius: 50%;
	padding: 0.5em;
	height: 2em;
	width: 2em;
	text-align: center;
	line-height: 1em;
}

/* Hover state of the Buttons*/
.ui.button.dark-green:hover{
	background-image: none;
	background-color: transparent !important;
	color: #379aa6 ;
	box-shadow:inset 0px 0px 0px 1px #379aa6;
}
.ui.button:hover{
	background-image: none;
	background-color: transparent !important;
	color: #59d2d9 !important;
	box-shadow:inset 0px 0px 0px 1px #59d2d9;
}
.ui.button.white:hover{
	color: white !important;
	box-shadow:inset 0px 0px 0px 1px white;
}
.ui.button.gray:hover{
	background-image: none;
	background-color: transparent !important;
	color: #cccccc ;
	box-shadow:inset 0px 0px 0px 1px #cccccc;
}
.ui.inverted.white.button:hover{
	box-shadow:inset 0px 0px 0px 1px #59d2d9;
	background-color: #59d2d9 !important;
	color: white;
}
.ui.inverted.button:hover{
	background-color: #59d2d9 !important;
	color: white;
}
.ui.inverted.dark-green.button:hover{
	background-color: #379aa6 !important;
	color: white;
}
.ui.inverted.gray.button:hover{
	background-color: #cccccc !important;
	color: white;
}
.ui.inverted.active.button{
	background-color: #59d2d9 !important;
	color: white !important;
}

/* Top Navigation */
#top-nav {
	box-shadow: none !important;
}

#top-nav-container{
	width: 100%;
	height: 67px;
	background: rgba(255, 255, 255, 0.9);
	position: fixed;
	z-index: 999;
	border-bottom: 1px solid #e5e5e5;
}

#top-nav-container .logo-container{
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0.5em;
	padding-left: 2em;
}
#logo {
	position: relative;
	z-index: 10;
}
#logo img {
	max-width: 100%;
	min-width: 160px;
}
#top-nav-container .inner-container{
	width: 100%;
}
.ui.menu .item:before{
	background-image: white !important;
}

#top-nav-container .ui.menu .item{
	height: 67px;
	line-height: 2.6em;
	padding: 1.2em 0.83em 1em;
}

#top-nav-container .sub.menu .item{
	padding-top: 0.8em;
}

#top-nav-container .ui.menu .item:hover{
	background-color: rgba(76,76,76,0.7);
	color: white;
	box-shadow: none;
}

#signup {
	position: relative;
	top: -3px;
}

#top-nav-container #signup:hover{
	background-color: transparent;
	color: #333;
	box-shadow: none;
}

#top-nav-container .sub.menu {
	margin-left: -20px;
	height: 45px;
	padding: 0 0 20px 20px;
}

#top-nav-container .sub.menu .item{
	height: 50px;
	line-height: 1.9em;
}

#top-nav-container .sub.menu .item {
	color: white !important;
}

#top-nav-container .ui.tiered.menu > .menu .item.active:after{
	background-color: transparent !important;
}

#top-nav-container .ui.menu .active.item{
	box-shadow: none !important;
	color: white;
	background-color: rgba(76,76,76,0.7);
}

#menu-container {
	margin: 0;
	padding: 0;
}

#top-nav ul {
	padding-left: 0;
}

#top-nav li {
	display: inline-block;
}

#top-nav li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

#top-nav li ul {
	display: none;
}

#top-nav li ul li {
	display: inline-block;
	float: none;
}

#top-nav li ul li a {
	width: auto;
	padding: 0 20px;
}

#top-nav ul li a:hover + .hidden,
#top-nav .hidden:hover {
	display: block;
	background: transparent;
}

#show-menu-button {
	display: none;
	text-align: center;
	color: #9b9b9b;
	float: right;
	margin: 0.85em 0.5em;
	text-transform: uppercase!important;
}

#top-nav input[type=checkbox]{
	display: none;
	-webkit-appearance: none;
}

#top-nav input[type=checkbox]:checked ~ .menu{
	display: block!important;
	clear: both;
}

/* Intro Section*/
.intro{
	background: url('/images/hero-image.jpg') center no-repeat;
	background-color: #F0F0EE;
	height: 600px;
}

.intro .column.intro-right-info{
	margin-top:90px;
	padding-left: 3em;
}

.intro .video-btn{
	margin-left: -175px;
	padding-top: 218px;
	background: transparent;
	border: none;
	box-shadow: none;
}

.intro h1{
	font-size: 48px;
	font-weight: 400;

}
.intro h2{
	font-size: 27px;
	font-weight: 300;
}

.anchor {
	top: -110px;
	position: relative;
}

#get-in-touch	{
	cursor: pointer;
	width: 119px;
	height: 113px;
	background-image: url('/images/header/contact-us.png');
	transition: background-color 0.4s ease-out;
	position: fixed;
	z-index: 18;
	right: 0px;
	top: 140px;
}

#subscribe-stick {
	cursor: pointer;
	width: 143px;
	height: 62px;
	background: url('/images/header/subscribe-btn.png');
	transition: background-color 0.4s ease-out;
	position: fixed;
	z-index: 18;
	right: 0px;
	top: 260px;
	display:none;
}

#subscribe-stick-layer, #subscribe-stick-form {
	width: 239px;
	height: 400px;
	color: white;
	/*background-image: url(/images/header/subscribe-sidebox.png);*/
	position: fixed;
	z-index: 18;
	right: 0px;
	top: 260px;
	display:none;
}

#subscribe-stick-layer.show, #subscribe-stick-form.show, #subscribe-stick.show {
	display:block;
}

#subscribe-stick-form p {
	text-align: center;
	margin: 0;
}

#subscribe-stick-layer {
	background-color: black;
	opacity: 0.4;
	border-radius: 0.2em;
}

/* Page Title */
#page-title h1 {
	font-size: 2.5em;
	padding-top: 80px;
	margin: 0;
	font-size: 45px;
	color: #333333;
	font-weight: 300;
	text-align: center;
}

#page-title {
	background: url('/images/starter-pack-title.png') center no-repeat;
	height: 200px;
	background-color: #f0f0ee;
}

/* Customer Quotes Section */
.customer-quote-list h2{
	font-weight: 400;
	font-size: 1.4em;
	min-height: 50px;
}

p.quote{
	font-style: italic;
}

section.quote h2{
	font-weight: 300;
	font-size: 1.5em;
	font-style: italic;
}

section.quote  h3{
	font-weight: 500;
	font-size: 1.5em;
	padding-right: 1.5em;
}

/* Features Section */
.features img.appboard-img{
	width: 100%;
}

.features-group img{
	vertical-align: bottom;
	margin-right: 0.5em;
}

.features-group .column{
	margin-bottom: 1em;
	width: 90%;
}

/* Pricing Packages */
section.packages{
	background-color: #ebebeb;
	padding: 2em 0;
}

section.packages .ui.segment{
	margin-bottom: 1em !important;
}

section.packages .icon.column{
	width: 25%!important;
}

section.packages .icon.column img{
	width: 100%;
}

section.packages .details.column{
	width: 75%!important;
}

section.packages .details.column h2, section.packages .details.column h3{
	font-weight: 300;
}
section.packages .details.column h2{
	color: #59d2d9;
}

/* Clients Section */
section.clients img{
	width: 100%;
}

/* Testimonials Section */

.testimonials .ui.header .content span {
	color: #59d2d9;
}

.testimonials .ui.header .content {
	vertical-align: middle;
}

.testimonials .ui.image {
	background-color: rgba(0,0,0,0)
}


.testimonials .testimonial {
	font-style: italic;
}

.testimonials .testimonial-name{
	font-weight: 400;
}

#appendix {
	font-size: 0.8rem
}

#ux-statements p {
	min-height: 4em;
	text-align: center;
	color: black;
}

#ux-statements .segment.secondary h1 {
	font-size:  3em;
	margin: 0;
}

#ux-statements .column{
	margin-bottom: 1em;
}
.pkg-note {
	font-size: 0.6em;
	margin-top: -1px;
}

/*Bottom Navigation*/
#bottom-nav ul li{
	list-style:  none;
	color: white;
	font-weight: 100;
	margin-bottom: 0.5em;
}

#bottom-nav li.header{
	font-weight: 600 !important;
	margin-bottom: 1em;
}

#bottom-nav li a{
	color: white;
}

#bottom-nav ul {
	padding-left: 0;
}

.follow-us-icon img {
	width: 25px;
}

/* Tablet*/
@media only screen and (max-width: 991px) and (min-width: 768px){
	.intro {
		height: 560px;
		background-position: -459px 20px;
		background-size: 1700px !important;
		}

		.intro h1{
			font-size: 38px;
		}

		.intro h2{
			font-size: 24px;
		}

		.intro .intro-right-info{
			margin-top: 90px !important;
		}
		#top-nav ul.menu{
			margin-left: 0px;
		}
	}

	/* Mobile */
	@media only screen and (max-width: 767px){
		#get-in-touch, #subscribe-stick,
		#subscribe-stick-layer, #subscribe-stick-form {
			display: none !important;
		}
		#menu-container{
			margin-top: -1px;
		}
		#top-nav input[type=checkbox]:checked ~ .menu{
			display: block!important;
			clear: both;
			box-shadow: 0px 3px 11px -2px rgba(61,61,61,0.7);
		}

		.intro {
			height: 660px;
			background-size: 1500px;
			background-position: 12% 93%;
		}
		.intro .column{
			width: 100% !important;
		}
		.intro .column.intro-right-info {
			margin-top: 0;
			padding-left: 0;
			text-align: center !important;
		}
		.intro h1{
			font-size: 28px;
		}
		.intro h2{
			font-size: 20px;
		}
		.intro .video-btn {
			margin-left: 0;
			padding-top: 101px;
			width: 140px;
		}
		#imaginary-quote .eight.wide.column{
			width: 80%;
		}
		#show-menu-button {
			display: block;
		}
		.menu ul {
			position: static;
			display: none;
		}
		.menu ul li, .menu li a {
			width: 100%;
		}
		.ui.menu .menu.right {
			width: 100%;
		}
		#top-nav {
			height: 52px;
			position: relative;
			right: -11px;
		}
		#top-nav ul {
			background-color: white;
		}
		#top-nav li ul li {
			background-color: rgba(76,76,76,0.35);
		}
		#top-nav li {
			border-top: 1px solid rgba(76,76,76,0.2);
		}
		#top-nav li li { border: 0}
		#top-nav li a {
			display: block;
		}
		#top-nav-container .sub.menu {
			height: auto;
			margin-left: 0;
			padding: 0;
		}
		#top-nav-container .ui.menu .item {
			padding: 0.9em 1em;
			height: 50px;
			line-height: 1.6em;
		}
		#top-nav-container .sub.menu .item {
			line-height: 1.8em;

		}
		#top-nav-container #login:hover {
			background-color: transparent;
			color: #000;
		}
	}

/* Desktop Size */
	@media only screen and (min-width: 768px){
		#top-nav-container .sub.menu:before {
			position: absolute;
			content: "";
			width: 100%;
			height: 50px;
			background-color: rgba(76,76,76,0.7);
		}

		#top-nav ul ul {
			position: absolute;
			width: 100%;
			border-top: 0;
		}
		#top-nav ul {
			margin-left: 210px;
		}
	}


	/* Smaller mobiles*/
	@media only screen and (max-width: 550px){
		.intro{
			height: 568px;
			background-size: 1130px;
			background-position: 20% 87%;
			min-width: 320px;
		}
		#imaginary-quote .eight.wide.column{
			width: 80%;
		}
	}
