#news #page-title h1 {
	font-size: 2.5em;
	padding-top: 80px;
	margin: 0;
	font-size: 45px;
 color: #333333;
 font-weight: 300;
 text-align: center;
}

#news #page-title {
	background: url('/images/starter-pack-title.png') center no-repeat;
	height: 200px;
	background-color: #f0f0ee;
}

#news-list h1{
	font-size: 1.8em;
	line-height: 50px;
	color: #333333;
	font-weight: 400;
}

#news-list h2 {
	font-size: 1.1em;
 line-height: 25px;
 color: #333333;
 font-weight: 400;
}

#news-list p {
	font-size: 1em;
 line-height: 25px;
 color: #333333;
 font-weight: 100;
}

#news-list img {
	max-width: 120px;
	margin-bottom: 20px;
}

#news-list .events-screenshot {
	max-width: 190px !important;
	margin-right: 5px;
}

#news-list .events-type{
	font-size: 1.3em;
}
