#news-list h1{
	font-size: 1.8em;
	line-height: 50px;
	color: #333333;
	font-weight: 400;
}

#news-list h2 {
	font-size: 1.1em;
 line-height: 25px;
 color: #333333;
 font-weight: 400;
}

#news-list p {
	font-size: 1em;
 line-height: 25px;
 color: #333333;
 font-weight: 100;
}

#news-list img {
	max-width: 120px;
	margin-bottom: 20px;
}

#news-list .events-screenshot {
	max-width: 190px !important;
	margin-right: 5px;
}

#news-list .events-type{
	font-size: 1.3em;
}
