#pricing #page-title h1 {
	font-size: 2.5em;
	padding-top: 80px;
	margin: 0;
	font-size: 45px;
 color: #333333;
 font-weight: 300;
 text-align: center;
}

#pricing-pack {
	margin-top: 50px;
}

#pricing-pack .pack-title{
	font-size: 1.35em;
	line-height: 35px;
	font-weight: 300;
	color: #666666;
	margin-bottom: 0;
}

#pricing-pack .best-seller {
	background-color: white;
	color: transparent;
	margin-bottom: 0;
	text-align: center;
	box-shadow: none;
	border: 1px solid #59d2d9;
	border-bottom: 0;
}


#pricing-pack .bold {
	font-weight: 600;
}

#pricing-pack .best-seller.show {
	background-color: #59d2d9 !important;
	color: white;
}

#pricing-pack .pack {
	box-shadow: none;
	border: 1px solid #59d2d9;
	border-top: 0
}

#pricing-pack .pack-col:hover > *{
	border-color: transparent;
	background-color: #E4F7F7;
	cursor: pointer;
}

#pricing-pack .ui.button.no-trans {
	transition: none;
	-webkit-transition: none;
}

#pricing-pack .pack-price-title{
	color: #59d2d9;
	font-size: 3rem;
	margin: 0;
}

#pricing-pack .challenger-pack .starter-pack-desc,
#pricing-pack .dominator-pack .starter-pack-desc,
#pricing-pack .dominator-pack .challenger-pack-desc{
	display: none;
}

#pricing-pack .no-desc{
	display: block;
}

#pricing-pack .pack-price-title{
	color: #59d2d9;
	font-size: 3rem;
	margin: 0;
}

#pricing-pack .sub-price {
	font-size: 0.9em;
	font-weight: 100;
	color: #59d2d9;
}

#pricing-pack .price-note {
	font-size: 1em;
	margin-top: 0;
	height: 40px;
	line-height: 20px;
	font-weight: 100;
	color: #9b9b9b;
	font-style: italic;
}

#pricing-pack .no-of-app{
	font-size: 17px;
	font-weight: 600;
	color: #59d2d9;
}

.ui.divider.small {
	width:	2em;
	margin: 25px auto;
	border-bottom: 0;
}


#pricing-pack .price-details {
	color: #666666;
	font-weight: 100;
}

#pricing-pack .sub-pack-title {
	line-height: 1.7;
}

#pricing-pack .price-details ul li {
	text-align: left;
	padding: 0.5em 0;
}

#pricing-pack .price-details ul li ul {
	list-style-type: circle;
	padding: 0.5em 0 0 1em;
}

#pricing-pack .price-details ul li ul li {
	text-align: left;
	padding: 0.3em 0;
}

#pricing-pack .price-details p{
	font-size: 15px;
	font-weight: 300;
	margin-top: 30px;
	margin-bottom: 30px;
}

#pricing-pack .price-details .pack-include {
	font-size: 1.4em;
	color: #59d2d9;
	font-weight: 100;
}

#pricing-pack .price-details .pack-plus {
	font-size: 16px;
	color: #59d2d9;
	font-weight: 100;
}

#pricing-pack .price-details > ul{
	margin-top: 1.7em;
}

#faq-help {
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#faq-help h2 {
	border-top: 1px solid #dddddd;
	line-height: 115px;
	margin-bottom: 0
}

#faq-help h3 {
	font-size: 15px;
	font-weight: 500;
	color: #379aa6;
	line-height: 25px;
}

#faq-help p {
	font-size: 14px;
	font-weight: 100;
	color: #000;
}

#faq-help .ui.accordion {
	width: 100%;
	-webkit-box-shadow: 0px 0px 0px 0px #fff;
	box-shadow: 0px 0px 0px 0px #fff;
}

#faq-help .ui.accordion .title {
	border-radius: 0.3125em;
}

#faq-help .column {
	margin-top: 0;
	margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
	#pricing-pack .page.grid {
		height: 850px;
	}

	#pricing-pack .page.grid .column{
		height: 100%;
	}

	#pricing-pack .page.grid .column > *:nth-child(2) {
		height: 93%;
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	#pricing-pack .page.grid > .column > *:nth-child(2) {
		height: 680px;
	}
}

@media only screen and (max-width: 1215px) and (min-width: 992px) {
	#pricing-pack .pack-price-title {
		font-size: 2.5rem;
	}
}
