#reports-list .reports-title {
	font-size: 18px;
	font-weight: 600;
	color: #006776 !important;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	height: 33px;
}

#reports-list .reports-issue {
	font-size: 14px;
	font-weight: 400;
	color: #333333;
	text-align: left;
	height: 89px;
}

#reports-list .reports-screenshot {
	max-width: 100%;
	max-height: 254px;
}

#reports-list .reports-screenshot-box {

	width: 100%;
	text-align: center;
}

#reports-list a{
	text-decoration: none;
}


