#page-title h1 {
  font-size: 2.5em;
  padding-top: 80px;
  margin: 0;
  font-size: 45px;
  color: #333333;
  font-weight: 300;
  text-align: center;
}

#page-subtitle h2 {
  font-size: 1.8em;
  line-height: 50px;
  color: #333333;
  font-weight: 400;
}

#page-subtitle h3 {
  font-size: 1.4em;
  line-height: 30px;
  color: #333333;
  font-weight: 200;
}

h2.page-subtitle{
  font-size: 1.8em;
  line-height: 50px;
  color: #333333;
  font-weight: 400;
}

h3.page-subtitle{
  font-size: 1.4em;
  line-height: 30px;
  color: #333333;
  font-weight: 200;
}


#page-title {
	background: url('/images/starter-pack-title.png') center no-repeat;
	height: 200px;
	background-color: #f0f0ee;
}

.page-details {
	padding-bottom: 35px!important;
  padding-top: 50px!important;
}

.page-details h2 {
  font-size: 1.8em;
  line-height: 43px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0px;
}

.page-details p {
  font-size: 1.2em;
  line-height: 30px;
  color: #333333;
  font-weight: 100;
}

.page-details ul li{
	font-size: 1.2em;
	line-height: 30px;
	color: #333333;
	font-weight: 100;
	list-style-image: url('/images/green-list-dot.png');
	margin: 7px 0px 7px -20px;
}

.features-icon {
	float: left;
	margin-right: 10px;
}
