#videos #page-title h1 {
	font-size: 2.5em;
	padding-top: 80px;
	margin: 0;
	font-size: 45px;
 color: #333333;
 font-weight: 300;
 text-align: center;
}

#videos-list .videos-title {
	font-size: 18px;
	font-weight: 600;
	color: #006776;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 65px;
}

#videos-list a{
	text-decoration: none;
}

#videos-popup-box h1{
	font-size: 1.4em;
 color: #333333;
 font-weight: 500;
}

.video-frame {
	text-align: center;
}
