img.responsive {
	-webkit-filter: hue-rotate(83deg);
	filter: hue-rotate(83deg);
}

#app-calculator div.app-calc.segment{
	border-radius: 3px;
	height: 150px;
	width: 160px !important;
	margin: 0 auto;
}

#app-calculator div.app-calc.inverted.segment.light-teal-bg{
	background-color: rgba(89,210,217, 0.5) !important;
	border-radius: 3px;
}


