#page-title.pricing {
background: url('//cdn2.hubspot.net/hubfs/511335/website/appboard/pricing-header.png?t=1453796710614') center no-repeat;
background-color: #e2dcda;
}

#pricing .feature.row .column{
    padding: 1em;
    align-items: center;
    display: flex;
}
#pricing .feature.row .centered.column{
    justify-content: center;
}
#pricing .header.row{
   padding: 0 0.5em;
}
#pricing .header.row .trial.column {
    display: flex;
    align-items: center;
}
#pricing .basic.column{
    background-color: rgba(89,210,217, 0.1);
}
#pricing .pro.column{
   background-color: rgba(55,154,166, 0.1);
}

#pricing .enterprise.column{
    background-color: rgba(77,182,172, 0.1);
}

#pricing .basic.column .header{
    color: rgb(89,210,217);
}
#pricing .pro.column .header{
    color: rgb(55,154,166);
}
#pricing .enterprise.column .header{
    color: rgb(77,182,172);
}
#pricing .basic.column .header span,
#pricing .pro.column .header span{
    font-size: 0.65em;
    color: gray;
    font-weight: 400;
}
#pricing .info.column{
    color: white;
}
#pricing .basic.info.column{
    background-color: rgb(89,210,217);
}
#pricing .pro.info.column{
   background-color: rgb(55,154,166);
}

#pricing .enterprise.info.column{
    background-color: rgb(77,182,172);
}

#pricing .header.row .column {
    padding: 1em;
    border: solid 1px white;
}
