#content section {
	background-size: initial;
}

#page-title {
	background: url('/images/starter-pack-title.png') center no-repeat;
	height: 200px;
	background-color: #f0f0ee;
	justify-content: center;
	-webkit-justify-content: center;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#page-title.about-us, #page-title.appboard {
	background: url('/images/about-us/header-bg.jpg') center no-repeat;
	height: 470px;
}

#intro {
	background: url('/images/landing-page/header.jpg') center no-repeat;
	background-color: #F0F0EE;
	height: 600px;
	justify-content: center;
	-webkit-justify-content: center;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#intro .main.header {
	margin-top: 20%;
}

#intro.app-builder {
	height: 240px;
}

#build, #intro.app-builder {
	background: url('/images/landing-page/build-bg.jpg') center no-repeat;
	background-position-y: 0;
}

#manage {
	background-color: rgb(250,250,250);
}

#promote {
	background: url('/images/landing-page/promote-bg.jpg') center no-repeat;
}

#vision-and-values i.quote.icon{
	vertical-align: super;
}

#vision-and-values span.header{
	font-weight: 400;
}

#team-section .ui.stackable.grid.invisible{
	display: none !important;
}

#team-section .ui.stackable.grid.visible {
	display: block !important;
}

#bottom-nav {
	background-color: gray;
}

#contact-us-btn {
	position: fixed;
	bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	right: 10%;
	z-index: 100;
	background-color: rgb(55, 154, 166) !important;
}

/* Modal pop up and dimmer background*/
.modal-bg {
	position: fixed;
	width: 100%;
	height: 200%;
	background: rgba(100, 100, 100, 0.5);
	z-index: -1;
	top: 0;
	left: 0;
	opacity: 0;
}

.show-modal {
	opacity: 1;
	z-index: 102;
	transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}

.visible {
	display: block !important;
	z-index: 100;
}

.ui.modal .submitted-message{
	min-height: 150px;
	font-size: 1.8em;
	align-items: center !important;
	-webkit-align-items: center !important;
	justify-content: center !important;
	display: -webkit-flex !important;
	display: flex !important;
	color: teal;
}

#contact-us-modal {
	top: 7em;
}


h3.ui.header, h4.ui.header{
	font-weight: 400;
}

.title.sizer{
	font-size: 32px !important;
}

.description.sizer{
	font-size: 20px !important;
}

.title.sizer h2.ui.header .sub.header{
	font-size: 1.6rem;
}

.white.horizontal.segment {
	box-shadow: 2px 0px 0px white;
}

.dark.horizontal.segment {
	box-shadow: 2px 0px 0px;
}

.ui.header.gray {
	color:#aaa;
}

.feature-advantages {
	margin: 5% 0;
}

.feature-description {
	margin-bottom: 4% !important;
}

.feature-header {
	margin-top: 2rem;
}

.feature-details .left.fixed.label {
	top: 20px;
	width: 130px;
	text-align: right;
	z-index: 10;
}

.testimonial.segment .right.floated.image{
	margin-left: 0;
	max-width: 55%;
}

p.testimonial {
	font-size: 1.2em;
}

.centered-content {
	align-items: center !important;
	-webkit-align-items: center !important;
	justify-content: center !important;
	-webkit-justify-content: center !important;
	display: -webkit-flex !important;
	display: flex !important;
}

/* Big Screens*/
@media only screen and (min-width: 1900px){
	#content section {
		background-size: 100% !important;
	}
}

/* Laptop */
@media only screen and (max-width: 1480px){
	.title.sizer {
		font-size: 26px !important;}
	}

	/* Mobile */
	@media only screen and (max-width: 767px){
		.title.sizer{
			font-size: 21px !important;
		}

		.description.sizer{
			font-size: 16px !important;
		}

	}
